* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.conteiner {
    background-image: linear-gradient(to left, rgb(63, 116, 172), rgb(6, 43, 138));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

main,
.form {
    background-color: rgba(227, 227, 227, 0.296);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(240, 248, 255, 0.379);
}

input {
    background-color: rgba(255, 255, 255, 0.394);
    padding: 2%;
}

th {
    color: #ffffff;
    text-align: center;
    padding-left: 20px;
}

tr {
    text-align: center;
}